.w1{
	width:(100%/1);
}
.w2{
	width:(100%/2);
}
.w3{
	width:(100%/3);
}
.w4{
	width:(100%/4);
}
.w5{
	width:(100%/5);
}
.w6{
	width:(100%/6);
}
.w7{
	width:(100%/7);
}
.w8{
	width:(100%/8);
}
.w9{
	width:(100%/9);
}
.w10{
	width:(100%/10);
}

.h1{
	height:(100%/1);
}
.h2{
	height:(100%/2);
}
.h3{
	height:(100%/3);
}
.h4{
	height:(100%/4);
}
.h5{
	height:(100%/5);
}
.h6{
	height:(100%/6);
}
.h7{
	height:(100%/7);
}
.h8{
	height:(100%/8);
}
.h9{
	height:(100%/9);
}
.h10{
	height:(100%/10);
}
