html{
	height: 100%;
}

body{
	display: flex;
	align-items:flex-start;
	height: 100%;
	margin:0;
}

button{
	display: block;
	margin:10px;
	padding:10px 30px;
	color:teal;
	background-color: seagreen;
	border:1px solid blue;
	cursor: pointer;
	outline: none;
	&:hover{
		color:darken( teal,20);
		background-color: darken(red,20);
	}
}

div#bg-img{
	position: absolute;
	top:0;right:0;left:0; bottom: 0;
	z-index: -1;
	background:{
		size:cover;
		position:center;

	}
}

$bgs:stark targaryen arryn baratheon lannister martell tully tyrell;
@each $bg in $bgs{
	$i:index($bgs,$bg);
	div.img-#{$i}{
		background-image: url('../got/house-#{$bg}.jpg');
	}
}