@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 300;
  color: #787878;
  font-weight: 300;
  line-height: 2;
}

[class*="bg-"] {
  padding: 50px 5%;
}

.bg-img {
  background-image: url("../img/header.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bg-black {
  background-color: #171717;
}

section#blog {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
section#blog img {
  width: 100%;
}
section#blog div {
  width: 50%;
  padding: 0 20px 40px;
  box-sizing: border-box;
  text-align: center;
}

section#quote blockquote {
  padding: 50px 100px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 150%;
}

a {
  padding: 20px 5px;
  text-decoration: none;
  color: #81bb8f;
}
a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: #66a329;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  width: 50%;
}

.bg-grey {
  background-color: #f2f2f2;
}

h1 {
  font-size: 12vw;
  font-weight: 300;
}

h2 {
  font-size: 150%;
  font-weight: 300;
  margin-top: 0px;
}

h4 {
  font-weight: 300;
  font-size: 250%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  background-image: url("../img/header.jpg");
  background-position: center bottom;
  background-size: cover;
}
header nav {
  background-color: rgba(0, 0, 0, 0.1);
}
header hgroup {
  padding: 20vh 0 25vh;
  text-align: center;
}
header hgroup * {
  margin: 5px 0;
  color: white;
}
header ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header ul li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
header ul li:last-child {
  border: none;
}
header a {
  padding: 20px 25px;
  text-decoration: none;
  color: white;
}
header a:hover {
  text-decoration: underline;
}

section#welcome {
  text-align: center;
}

#promo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
#promo div {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
#promo div a {
  margin-top: auto;
}
#promo div i {
  font-size: 64px;
}

section#contact {
  text-align: center;
}
section#contact ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  text-align: center;
}

main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
main aside {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
main aside div#archives div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
main aside li {
  border-bottom: 1px solid grey;
}
main article {
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

main#right-sidebar aside {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
main#right-sidebar article {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

main#no-sidebar aside {
  display: none;
}

a {
  color: white;
}
