ul {
  background-color: pink;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 20px;
  background-color: rgba(64, 149, 191, 0.25);
}
li:first-child {
  margin-right: auto;
}

main {
  background-color: rgba(191, 64, 191, 0.25);
  padding: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

article {
  background-color: rgba(191, 64, 64, 0.25);
  padding: 20px;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
article * {
  background-color: rgba(191, 64, 64, 0.22);
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
}
article h1 {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
article blockquote {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

aside {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: rgba(64, 149, 191, 0.25);
  padding: 20px;
}

@media screen and (max-width: 768px) {
  ul {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  article {
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }

  article {
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}
