$blue:hsla(206,82%,63%,1);
$white:hsla(0,0%,100%,1);
$gray:hsla(204,33%,97%,1);
$darkgray:darken($gray,10);
$darkergray:darken($gray,30);
$darkestgray:darken($gray,50);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body{
	margin:0;
	font-family: 'Helvetica Neue',Helvetica, Arial, Sans-serif;
}

ul,ol{
	padding:0;
	margin:0;
	list-style: none;
}

.btn {
	color:inherit;
	text-decoration: none;
	padding:10px 30px;
	border: 1px solid transparent;
	border-radius: 3px;
	&-white{
		border-color: white;
	}
	&-blue{
		background-color: $blue;
		color:$white;
		text-align: center;
	}
	
}


.util{
	display: flex;
	justify-content:center;
	align-items:center;
	background-color: $blue;
	color:$white;
	padding: 24px 0;
	p{
		font-weight: 500;
	}
	a{
		font-weight: 200;
	}
	*{
		margin: 0 10px;
	}
}

nav{
	ul{
		display: flex;
		padding:10px 25px;
		align-items:center;
	}
	li:first-of-type{
		margin-left: 160px;
		margin-right: auto;
		color:$blue;
		font-size:175%;
	}
	form{
		position: relative;
		margin:0 20px;
		input{
			height:30px;
			border-radius: 15px;
			background-color: $gray;
			border:2px solid $darkgray;
		}
		i{
			display: flex !important;
			justify-content:center;
			align-items:center;
			width:30px;
			height:30px;
			position: absolute;
			top: 0px;
			right:0px;
			color:$darkgray;

		}
	}

	li:last-of-type{
		font-size: 80%;
		margin-right: 180px;
	}


}

.hero{
	height:280px;
	background:{
		image:url("../img/1500x500.jpg");
		position: center;
		size:cover;
		background-attachment: fixed;

	}
}

.info{
	display: flex;
	justify-content:center;
	padding:10px 0;
	ul{
		display: flex;
		text-align: center;
	}
	li{
		margin:0 20px;
	}
	small{
		font-size: 60%;
	}
	p{
		font-weight: 700;
	}
}


main{
	display: flex;
	background-color: $gray;
	padding:15px;
	aside{
		flex:1;
	}
	article{
		margin:0 10px;
		flex:3;
	}
}
.bio{
	position: relative;
	img{
		display: inline-block;
		width:80%;
		margin:0 10%;
		position: absolute;
		bottom:100%;
		left:20px;
		border-radius: 5px;
		border:6px solid white;
		min-width:160px;
		box-shadow: 0 0 1px 1px transparentize($blue,.80)

	
	}
	h1{
		white-space: nowrap;
		margin-bottom: 0;
	}
	h2{
		margin:0;
		font-size: 90%;
		color:$darkergray;

	}

	i{
		color:$darkergray;
		transform: rotatey(180deg);
	}


}

	article{
		margin-left: 10%;


		header{
			background-color: $white;
			border:1px solid $darkgray;
			border-top-right-radius: 5px;
			border-bottom-left-radius: 5px;
			padding: 5px 0;

			 li{
				display: inline-block;
				a{
				text-decoration: none;
				color: inherit;
				border:none;

			}
			}
		}
		li{
			display: flex;
			align-items:flex-start;
			line-height: 1.5;
			padding:10px;
			background-color: $white;
			border:{
				width:0 1px 1px;
				style:solid;
				color:$darkgray;
			}

			img{
				margin-right: 10px;
			}
			h1{
				font-size: 80%;
				margin-bottom: 0;
			}

			small{
				color: $darkergray;
				font-weight: 400;
			}
			p{
				margin-top: 0;
			}
		}

	}

	header li{
		border:none;
	}
	
	.t-content{
		li{
			background-color: $gray;

			&:hover{
				color:$darkestgray;
			}
		}
	}
	.opts li{
		border:none;
		display: inline-block;
		background-color: $gray;
		a{
			color: $darkergray;
			text-decoration: none;
			&:hover{
				color:$darkestgray;
			}
		}
		}

		.comp{
			display: flex;
			flex-direction:column;
			&:first-of-type{
				background-color: $darkgray;
				color:$darkestgray;
			}
			border-radius: 5px;
			border:1px solid $darkgray;
			padding:10px;
			background-color: $white;
			h3{
				font-weight: 300;
				margin-top: 0;
			}
			ol a{
				text-decoration: none;
				color: inherit;
			}
		}