$main-color:hsla(134,30%,62%,1);
$main-grey:hsla(0,0%,95%,1);
$main-black:hsla(0,0%,9%,1);

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
body{
	font-family: 'Roboto', sans-serif;
	margin:0;
	font-weight: 300;
	color:hsla(0,0%,47%,1);
	font-weight: 300;
	line-height: 2;
}

[class*="bg-"]{
	padding:50px 5%;
}

.bg-img{
	background:
	{
		image:url("../img/header.jpg");
		position:center;
		size:cover;
		attachment: fixed;
	}
}

.bg-black{
	background-color: $main-black;
}

section#blog{
	display: flex;
	img{width:100%}
	flex-wrap:wrap;
	div{
		width:50%;
		padding:0 20px 40px;
		box-sizing:border-box;
		text-align: center;
	}
}

section#quote{
	blockquote{
		padding:50px 100px;
		text-align: center;
		color:transparentize(white,.5);
		font-size: 150%;
	}
}


	a{
		padding: 20px 5px;
		text-decoration: none;
		color:$main-color;
		&:hover{
		text-decoration: underline;
	}

	}


.btn{ 
display: inline-block;
padding:10px 30px;
background-color: hsla(90,60%,40%,1);
border-radius: 5px;
color: white;
font-weight: 500;
width:50%;


}
.btn-linear{}

.bg-grey{
	background-color: $main-grey;
}

	h1{
			font-size: 12vw;
			font-weight: 300;
		}
	h2{
		font-size: 150%;
		font-weight: 300;
		margin-top: 0px;

	}

		h4{
			font-weight: 300;
			font-size: 250%;
		}

ul{
	margin:0;
	padding:0;
	list-style: none;
}

header{
	background:{
		image:url("../img/header.jpg");
		position: center bottom;
		size:cover;
		
	}
		nav{
		background-color: hsla(0,0%,0%,.10);
	}
	hgroup{
		padding:20vh 0 25vh;
		text-align: center;
		*{
			margin:5px 0;
			color:white;
		}
	
	}
	ul{
		display: flex;
		justify-content:center;
		li{
			display: flex;
			border-right: 1px solid transparentize(white,.8);
			&:last-child{
				border:none;
			}
		}
	}
	a{
		padding: 20px 25px;
		text-decoration: none;
		color:white;
		&:hover{
		text-decoration: underline;
	}

	}

}

section#welcome{
	text-align: center;
}

#promo{
	display: flex;
	text-align: center;
	div{
		flex:1;
	padding:20px;
	display: flex;
	flex-direction:column;
	a{
		margin-top: auto;
	}
	i{
		font-size: 64px;
	}
}
}

section#contact{
	text-align: center;
	ul{
		display: flex;
		justify-content:center;
	}

}

footer{
	text-align: center;
}

main{
	display: flex;
	aside{
		flex:1;
		div#archives div{
			display: flex;
		}
		li{
			border-bottom: 1px solid grey;
		}

	}
	article{
		flex:3;
	}
}
main#right-sidebar{
	aside{
		order:2;
	}
	article{
		order:1;
	}
}

main#no-sidebar{
	aside{
		display: none;
	}
}
a{
	color:white;
}