ul{
	background-color: pink;

	margin:0;
	padding:0;
	list-style: none;

	display: flex;
	flex-direction:row;
	justify-content:flex-end;
	//align-items:center;

}

li{
	display: flex;
	margin:10px 20px;
	background-color: hsla(200,50%,50%,.25);
	&:first-child{
		margin-right: auto;
	}
}


main{
	background-color: hsla(300,50%,50%,.25);
	padding:20px;
	display: flex;
}

article{
	background-color: hsla(0,50%,50%,.25);
	padding:20px;
	flex:2;
	*{
		background-color: hsla(0,50%,50%,.22);
		order:0;
	}
	display: flex;
	align-items:baseline;
	h1{order:2;}

	blockquote{
		order:1;
	}

}

aside{
	flex:1;
	background-color: hsla(200,50%,50%,.25);
	padding:20px;
}
@media screen and (max-width: 768px){
	ul{
		//flex-direction:column;
		text-align: center;
	}
}

@media screen and (max-width: 768px){
	article{
		flex:2;
	}

	article{
		flex:2;
	}
}