html {
	height: 600px;
	width: 230px;
	background-image: url("../img/captain_america_by_steeven7620-d7hvggl.png");
	background-size: 100%;
	position: relative;
	background-repeat: no-repeat;
}
body {
	width: 78px;
	height: 78px;
	background-image: url("../img/white-star-md.png");
	background-color: hsl(212, 71%, 38%);
	background-size: 100%;
	border-radius: 50%;
	background-repeat: no-repeat;
	position: absolute;
	top: 198px;
	left: 64px;
	box-shadow: 0 0 0 22px hsl(358, 71%, 40%), 0 0 0 42px hsl(240, 3%, 77%), 0 0 0 62px hsl(358, 71%, 40%);
}