article {
	width: 230px;
	height: 260px;
	margin: 50px auto;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	background-image: linear-gradient(to top, hsl(181, 65%, 64%), hsl(206, 100%, 76%));
}
main {
	width: 100px;
	height: 100px;
	background-color: hsla(195, 30%, 50%, .25);
	position: absolute;
	top: -35px;
	left: -60px;
}
div {
	box-sizing: border-box;
	position: absolute;
	border-width: 25px;
	border-style: solid;
	line-height: 100px;
	font-size: 30px;
	text-align: center;
	border-radius: 50%;
	-webkit-filter: drop-shadow(0 0 5px hsla(0, 0%, 0%, .2));

	/*box-shadow: 0 0 5px hsla(0, 0%, 0%, .2);*/
}
#img1 {
	width: 100px;
	height: 100px;
	top: 0;
	left: 0;
	border-color: hsl(39, 100%, 67%);
	background-color: hsl(39, 100%, 67%);

}
#img2 {
	width: 150px;
	height: 150px;
	top: -25px;
	left: -25px;
	border-color: hsl(43, 100%, 70%);
	/*background-color: hsla(60, 100%, 50%, .5);*/
}
#img3 {
	width: 200px;
	height: 200px;
	top: -50px;
	left: -50px;
	border-color: hsl(46, 99%, 73%);
	/*background-color: hsla(200, 100%, 50%, .5);*/
}
#img4 {
	width: 250px;
	height: 250px;
	top: -75px;
	left: -75px;
	border-color: hsl(50, 97%, 75%);
	/*background-color: hsla(100, 100%, 50%, .5);*/
}

/*3, 5, 1, 4, 2*/


























