ul:hover pre{ color:hsla(75,100%,40%,1);}

ul{
	width: 200px;
	list-style: none;
	margin: 50px auto;
	padding: 0;
	position: relative;}

#body{
	width: 200px;
	height: 250px;
	background-color: hsla(75,100%,0%,1);
	border-top-left-radius: 50% 30%;
	border-top-right-radius: 50% 30%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	position: relative;
}

#body::before{
	content: "";
	display: block;
	width: 40px;
	height: 80px;
	background-color: hsla(75,100%,40%,1);
	position: absolute;
	top:100%;
	left:20%;
	border-bottom-left-radius: 50% 20%;
	border-bottom-right-radius: 50% 20%;
}
#body::after{
	content: "";
	display: block;
	width: 40px;
	height: 80px;
	background-color: hsla(75,100%,40%,1);
	position: absolute;
	top:100%;
	right:20%;
	border-bottom-left-radius: 50% 20%;
	border-bottom-right-radius: 50% 20%;
}
#arms{
	position: absolute;
	width: 300px;
	height:150px;
	background-color: hsla(0,50%,50%,.0);
	top: 33%;
	left:calc(50% - 150px);
	border-top: 10px solid white;
	}

#arms::before,
#arms::after{
	content: "";
	display: block;
	width: 40px;
	height: 130px;
	background-color: hsla(75,100%,40%,1);
	position: absolute;
	top:0%;

	border-top-left-radius: 50% 20px;
	border-top-right-radius: 50% 20px;
	border-bottom-left-radius: 50% 20px;
	border-bottom-right-radius: 50% 20px;
}
#arms::before{

	left:0%;
}
#arms::after{
	transition: top 50000ms ease-in-out;
	right:0%;
}
#detail{
	width: 200px;
	height: 75px ;
	position: absolute;
	top: 0;
	left:0;
}
#detail::before,
#detail::after{
	content: "";
	display: block;
	width:8px;
	height:50px;
	background-color: hsla(75,100%,40%,1);

	border-top-right-radius: 50% 4px;
	border-top-left-radius: 50% 4px;
	position: absolute;
	top: -25px;
}
#detail::before{

	transform: rotate(-40deg);

	left:45px;
}
#detail::after{	
	transform: rotate(40deg);	
	right:45px;}

pre{
	position: absolute;	
	font-size: 70px;
	line-height: 0;
	color:white;
	top:40px;
	left:-30px;
	margin:0;
	}

ul:hover #arms::after{
 	transform: rotate(-100deg);
 	top:-100;
 	}

