$main-bronze:lighten(#8c7853,50);
$main-red:darken(darkred,20);
$main-magenta:darken(magenta,50);
$main-turquoise:lighten(turquoise,42);



*{
	text-align: center;
	padding:5px;
	font-family: Gungsuh;
	z-index: 1;
}
p{
		font-size: 200%;
}

body, html{
	
	background-color: $main-bronze;
	color:white; //$main-magenta;
	margin:0;
	height: 100%;
	width: 100%;
	background-size: 100%;
	padding:0;	
}
header{
	height: 20%;
}
.bg{
	z-index: 0;
	width:100%;
	height: 80;
	//background-image: url("../img/electricsky/ (7).gif");
	//background-image: url("../img/sky/ (44).gif");
	//background-image: url("../img/sky/ (47).gif");
	//background-image: url("../img/sky/ (50).gif");
	//background-image: url("../img/1920x1080/(12).gif");
	background-image: url("../img/svg/_8_.svg");


	//-webkit-animation: mymove 30s infinite; 


    background-size: 100vh 100vw;
    background-repeat: no-repeat; 	

}


//@-webkit-keyframes mymove {   50%   	{background-image: url("../img/electricsky/ (7).gif");}    100%   	{background-image: url("../img/sky/ (25).gif");}}



.overlay{
width:100%;
height: 100%;
background-color: hsla(45, 25%, 54%,0);

}










*{
	
}

h2{
	text-align: left;
	float:left;


}

h1{
	font-family: Impact;
	font-size: 400%;
	-webkit-text-fill-color: black;
  	-webkit-text-stroke-color: white;
  	-webkit-text-stroke-width: 0.00px; 

  	letter-spacing: 3px;
	background-position: top;

	background: url("../img/electricsky/ (8).gif") repeat 0 0, white;
			
			-webkit-background-clip: text; /* Webkit clips H1 background to text */
			-webkit-text-fill-color: transparent;

}

a{
	border:1px solid black;
	border-radius: 6px;
	color:$main-red;
	background-color: $main-turquoise;
	background-image: url("../img/b");
	background-position: center;
	background-attachment: fixed;
	font-family: Impact;
	font-size: 80%;
	&:hover{
		text-decoration: none;
		color:darkred;
		background-color: white;//lighten($main-bronze,4);	
		border-color: darkred;	
		font-weight: 120%;
		border-width: 2px;
		background-image: none;

	}
}