/*
$btn-size:8px;

.btn{
	display: inline-block;
	padding:$btn-size $btn-size*2;
	border:1px solid grey;
	background-color: lightgray;
	font-size: $btn-size*2;
	border-width: (1 * $btn-size)/3;

	
	&.btn-pill{
		border-radius: $btn-size*2.5;
	}
	

	&.btn-lg{
		$btn-size: $btn-size*2;
		padding:$btn-size $btn-size*2;
		font-size: $btn-size*2;
		border-width: (1 * $btn-size)/3;
		border-radius: $btn-size*2.5;
		&.btn-pill{
		border-radius: $btn-size*2.5;
	}
	
	}
	&.btn-sm{
		$btn-size: $btn-size/2;
		padding:$btn-size $btn-size*2;
		font-size: $btn-size*2;
		border-width: (1 * $btn-size)/3;
		&.btn-pill{
		border-radius: $btn-size*2.5;
	}
		
	}
}

$section-bg:red;
$font-clr: #101010;
$bg-brightness:lightness($section-bg);



section{
	background-color: $section-bg;
	@if $bg-brightness >= 31% and $bg-brightness <=50%{
		//color:lighten($font-clr,30);
		font-size: 20%;
	}
	
	@else if $bg-brightness >= 15% and $bg-brightness <=30%{
		//color:lighten($font-clr,30);
		font-size: 40%;
	}
	@else if $bg-brightness >= 0% and $bg-brightness <=14%{
		//color:lighten($font-clr,20);
		font-size: 100%
	}
	@else {
		//color:$font-clr;
		font-size: 200%;
	}

}
*/

ul{
	padding:0;
	margin:0;
}
aside li{
	line-height:3;
	list-style: none;
	padding-left: 20px;
	@for $i from 1 through 20{
		$deg:$i*18;
		$bg-clr:hsla($deg,50%,50%,1);
		&:nth-of-type(#{$i}){
			background-color: lighten($bg-clr,20);
			border-right: 30px solid darken($bg-clr,20)
		}
	}

}